<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dinozavrik Game</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="game-container">
        <div id="game">
            <div id="scoreBoard">Score: <span id="scoreSpan">0</span></div>
            <div id="character"></div>
            <div id="block"></div>
            <div id="blockTop"></div>
            <div id="bonus"></div>
            <div id="enemy"></div>
        </div>
    </div>

    <div id="controls">
        <p>Нажмите <strong>Space</strong> что бы прыгнуть и <strong>S</strong> что бы выстрелить.</p>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
